@import url('non.geist/mono');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  height: "100%";
  width: "100%";
  scroll-behavior: smooth;
  font-family: 'Geist Mono Variable';
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #1d1936;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#anchor {
  scroll-margin-top: 100px;
}

@media only screen and (min-width: 800px) {
  :root{
    overflow: hidden;
  } 
}
